.main-content * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main-content {
    display: flex;
    padding: 0;
    margin-left: 250px;
}

.header {
    font-weight: bold;
    padding-left: 20px; 
    margin-bottom: 20px;
}

.tab {
    font-weight: bold;
    border-bottom: 2px solid #D9A691;
    padding-bottom: 5px;
}
  
.addPet-form {
    background-color: #ffe3e2;
    width: 60%;
    padding: 40px 60px;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 500px;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1;
    font-size: 14px;
    color: #333;
}
  
.addPet-form input {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    background-color: #d9a691;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
  
.addPet-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.form-row input[type="text"],
.form-row input[type="date"] {
    flex: 2;
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: #ffffff;
}

.form-row input[type="radio"] {
    margin-left: 0;
    margin-right: 0;
}

.age-label {
    margin-left: 20px;
}

.age-input {
    width: 50px;
    margin-left: 10px;
}
  
.gender-options {
    display: flex;
    align-items: center;
    gap: 5px;
}

.gender-options input[type="radio"] {
    margin-right: 5px;
}

.addPet-form button {
    width: 25%;
    padding: 10px;
    background-color: #d9a691;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin-top: 20px 0 0 0;
    font-family: Poppins;
}
  
.addPet-form button:hover {
    background-color: #c48f82;
}
  
.addPet-form p {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}
  
.addPet-form a {
    margin-left: 5px;
}
  
@media (max-width: 768px) {
    .addPet-form {
      width: 60%;
      padding: 30px;
}
  
    .addPet-form input,
    .addPet-form button {
        font-size: 14px;
    }
}
  
@media (max-width: 480px) {
    .addPet-form {
      width: 90%;
      padding: 20px;
    }
  
    .addPet-form input,
    .addPet-form button {
      font-size: 12px;
    }
}
  
.signup-back {
      position: absolute;
      top: 110px;
      left: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      background-color: #d9a691;
      border-radius: 10px;
      padding: 10px 15px;
      font-family: "Poppins", sans-serif;
      transition: transform 0.2s ease-in-out;
}
    
.signup-arrow {
      width: 25px;
      margin-right: 10px;
}
  
.signup-back:hover {
      transform: translateY(-5px);
}
    
    