.calendar-container {
    width: 45%;
    background-color: #f6e5e4;
    border-radius: 10px;
    padding: 20px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-day {
    text-align: center;
    padding: 10px 0;
    background-color: #ffe3e2;
    border-radius: 5px;
  }

  .calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-nav span {
    font-size: 20px;
    color: #1b2748;
}

.calendar-nav button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #1b2748;
    cursor: pointer;
}

.calendar-table th,
.calendar-table td {
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #333;
}
  