/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 250px;
    height: 100vh;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE3E2;
    padding: 20px;
    position: relative;
}

.dashboard-header h1 {
    font-weight: bold;
    margin-left: 20px;
    font-size: 28px;
    color: #5144B2; /* Title color */
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info:hover{
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-details {
    text-align: right;
}

.profile-name {
    font-weight: bold;
    color: #000000;
}

.profile-role {
    font-size: 14px;
    color: #000000;
}
  
  
.summary-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow-y: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.dashboard-footer {
    background-color: #FFE3E2; /* Bottom label color */
    height: 30px;
}
  

  