html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Handlee";
  src: url("../fonts/Handlee.ttf") format("truetype");
}

@font-face {
  font-family: "BreeSerif";
  src: url("../fonts/BreeSerif.ttf") format("truetype");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

.section {
  padding-top: 55px;
  height: 140vh;
  text-align: center;
}

#about-us {
  background-image: url("../images/paws.png");
  font-family: "Poppins";
  font-size: larger;
  padding: 50px;
  height: 75vh;
}

.about1 {
  text-align: center;
}

.about2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.about2 .text {
  max-width: 50%;
  margin-left: 200px;
}

.about2 h2 {
  font-family: "BreeSerif";
  margin-top: 0;
}

.about2 p {
  margin: 20px;
  font-family: "Poppins";
}

.about2 img {
  max-width: 40%;
  height: auto;
  margin-left: 10px;
}

h1 {
  color: #5144b2;
  font-family: "BreeSerif";
  font-size: xx-large;
}

h2 {
  font-family: "BreeSerif";
  font-size: xx-large;
}

#services {
  background-image: url("../images/swirl.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Poppins";
  flex-direction: column;
  padding: 100px 0 0 0;
  height: 100vh;
}

.v-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.v-item {
  text-align: center;
  width: 20%;
  padding: 20px 50px 10px 50px;
}

.v-row:first-child .v-item:nth-child(1) {
  transform: translateX(-300px);
}

.v-row:first-child .v-item:nth-child(2) {
  transform: translateX(300px);
}

.v-item img {
  width: 150px;
  height: auto;
  margin-bottom: 0;
}

h3 {
  font-family: "Handlee";
  margin: 5px 0 5px 0;
}

#contact-us {
  background-image: url("../images/paws.png");
  font-family: "BreeSerif";
  font-size: larger;
  height: 25vh;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-img-container {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}

.footer-img {
  width: auto;
  max-height: 200px;
}

#footer {
  background-color: #d9a691;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vh;
  text-align: center;
  padding-bottom: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

#footer p {
  font-family: "BreeSerif";
  font-size: 14px;
  color: #5144b2;
  margin: 0;
}

.footer {
  text-align: bottom;
}
