.action{
    margin-left: 80px;
    margin-top: 50px;
}

.action p{
    font-size: 20px;
    font-weight: bold;
    
}

.action u{
    color:#C3907B ;
}

.appoinment-date{
  width:800px;
  height:400px;
  background-color: #FFE3E2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.time-slot select {
    padding: 10px;
    border: 1px solid #C3907B;
    border-radius: 5px;
    background-color: #C3907B;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-left: 500px;
    margin-top: 160px;
}

.next-btn{
    margin-top: 100px;
    margin-left: 600px;
    width: 80px;
    height: 30px;
    background-color: #C3907B;
    border: 1px solid #C3907B;
    font-weight: 900;
}



