.sidebar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0 0;
}
  
.logo {
    margin-bottom: 30px;
    margin-top: 0px;
    max-width: 100%;
    height: auto;
    padding: 10px 50px;
    cursor: pointer;
}
  
.sidebar-ul {
    list-style: none;
    padding: 20px 0;
}

.sidebar-ul li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.sidebar-ul li:hover {
    background-color: #fff1f0; 
    border-radius: 0 5px 5px 0;
}

.sidebar-ul li img.icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
    margin-left: 20px; 
}

.sidebar-ul li.active {
    font-weight: bold;
    color: #C3907B;
    background-color:#FFE3E2;
    border-radius: 0 5px 5px 0;
}

.sidebar-ul li.active:hover {
    background-color: #FFE3E2;
}
  
.sidebar-ul li.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #C3907B;
    border-radius: 0 5px 5px 0;
}

.logout {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
}

.logout a{
    text-decoration: none;
    color: black;
}

.logout:hover {
    font-weight: bold;
}

.logout img.icon {
    width: 20px; 
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
  