.user-page {
  background-image: url("../images/paws.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.heading {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Poppins";
}

.heading h4 {
  margin: 0;
}

.heading-hr {
  width: 100px;
  border: none;
  border-top: 2px solid black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Poppins";
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.content a, .user-back {
  transition: transform 0.2s ease-in-out;
}

.content a:hover, .user-back:hover {
  transform: translateY(-5px);
}

.row {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin: 20px 20px 50px 20px;
}

.role-image {
  width: 200px;
  height: 200px;
  margin-bottom: 0;
  max-width: 200px;
}

.user-back {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  text-decoration: none;
  color: black;
  background-color: #d9a691;
  border-radius: 10px;
  padding: 10px 15px;
}

.user-arrow {
  width: 30px;
  margin-right: 10px;
}

.user-back h4 {
  margin: 0;
}
