/* VetAppDash.css */
.vetlayout {
    display: flex;
    height: 100vh;
  }
  
  .vetsidebar {
    width: 250px; /* Same width as defined in VetSideBar.css */
    background-color: #FFFFFF;
  }
  
  .vetcontent {
    flex: 1; /* This makes the content area take up the remaining space */
    margin-left: 250px; /* Offset to make space for the sidebar */
    padding: 20px;
    overflow: auto;
  }
  
  /* Additional styling to ensure responsiveness and spacing */
  @media (max-width: 768px) {
    .vetlayout {
      flex-direction: column;
    }
  
    .vetcontent {
      margin-left: 0;
    }
  }
  