.vetSignup-page {
  background-image: url("../images/paws.png");
  background-size: cover;
  background-position: center;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-left: 50px;
}

.vetSignup-header {
  text-align: center;
}

.vet-header-hr {
  width: 100px;
  border: none;
  border-top: 2px solid black;
  margin-left: 350px;
}

.vetSignup-form {
  margin-top: 20px;
  width: 800px;
  background-color: rgba(255, 227, 226, 0.7);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vetSignup-form input,
.vetSignup-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f0c9b9;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.vetSignup-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
}

.vetSignup-form button {
  width: 25%;
  padding: 10px;
  background-color: #d9a691;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  margin: 20px 0 0 250px;
  font-family: Poppins;
}

.vetSignup-form button:hover {
  background-color: #c48f82;
}

.vetSignup-form p {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.vetSignup-form a {
  margin-left: 5px;
}

.gender-options {
  display: flex;
}

.gender-options label {
  margin-right: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.gender-options label input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  outline: rgb(92, 84, 84) 1px solid;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}

.gender-options label input[type="radio"]:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: rgb(123, 109, 109);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
