.view-owner-page {
    background-image: url("../images/paws.png");
    background-size: cover;
    background-position: center;
    width: 800px;
    margin: 40px auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 30px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
  }
  
  .owner-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    background-image: url('../images/ownerProfile.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  
  .vet-picture {
    width: 120px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    background-image: url('../images/vetProfile.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }

  .owner-details {
    width: 100%;
  }

  .owner-details input {
    border: 1px #6C6C6C solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #eeeaea;
  }
  
  .view-owner-page h2 {
    font-size: 36px;
    color: #2C2C2C;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: -85px;
    margin-left: 150px;
  }
  
  .view-owner-page p {
    font-size: 17px;
    color: #6C6C6C;
    margin: 0 0 10px 0;
    text-align: left;
  }
  
  .view-owner-page p strong {
    color: #2C2C2C;
  }

  .edit-button {
    width: 150px;
    padding: 10px;
    background-color: #d9a691;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    font-family: Poppins;
    transition: transform 0.2s ease-in-out;
    margin-left: 550px;
  }
  
  .edit-button:hover {
    background-color: #c48f82;
  }